body{
    margin: 0;
}

h1, h2, h3 {
  color: #333;
}


img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.5;
  margin-bottom: 1.5rem;
}



.grid-layout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .grid-search { grid-area: 1 / 1 / 2 / 5; }
  .grid-sort-filter { grid-area: 2 / 1 / 7 / 2; }
  .grid-characters { grid-area: 2 / 2 / 7 / 5; }





